:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: fit-content;
}

.coloured {
  padding: 1rem;
}

:host-context(.dark.container) .coloured {
  background-color: rgb(255, 104, 104);
}

:host-context(.light.container) .coloured {
  background-color: chartreuse;
}
