.container {
  height: 100%;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark {
  background-color: rgb(50, 50, 50);
  color: azure;
}

p {
  margin-left: 1rem;
  text-decoration: underline wavy rgb(64, 255, 144);
  text-underline-offset: 5px;
}
