@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --color-bg-dark: rgb(50, 50, 50);
  --color-bg-dark-hover: black;
  --color-bg-light-hover: rgba(50, 50, 50);
  --color-primary: #01eafa;
  --color-secondary: #00a2ad;
  --color-error: #f10800;
  --color-ok: #53fa00;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  display: inline;
  margin: 0;
  padding: 0;
}

.title {
  text-decoration: underline wavy rgb(64, 255, 144);
  text-underline-offset: 5px;
}

.subtitle {
  text-decoration: underline rgb(17, 0, 255);
  text-decoration-thickness: 2.5px;
  text-underline-offset: 5px;
}
