:root {
  --color-bg: rgb(50, 50, 50);
  --color-primary: #01eafa;
  --color-secondary: #00a2ad;
  --color-error: #f10800;
  --color-ok: #53fa00;
}

html,
body {
  background-color: var(--color-bg);
  height: 100%;
}

body {
  display: inline;
  margin: 0;
  padding: 0;
}
