.container {
  border-radius: 1rem;
  padding: 1rem;
  outline: 1px solid;
}

:host-context(.container.dark) .container {
  background-color: black;
}

:host-context(.container.light) .container {
  background-color: rgba(50, 50, 50, 0.2);
}
